HEYGEN_AVATAR_ID=HEYGEN_AVATAR_ID
HEYGEN_AVATAR_VOICE_ID=HEYGEN_AVATAR_VOICE_ID
HEYGEN_AVATAR_CONTEXT_ID=HEYGEN_AVATAR_CONTEXT_ID
HEYGEN_AVATAR_API_KEY=HEYGEN_AVATAR_API_KEY

MEETING_URL=MEETING_URL
RECALL_API_KEY=RECALL_API_KEY
RECALL_REGION=RECALL_REGION # e.g. us-west-2, us-east-1, eu-central-1, ap-northeast-1
NGROK_DOMAIN=NGROK_DOMAIN # e.g. if your ngrok URL is https://1a8d23b7ab2d.ngrok-free.app, drop the protocol and set to 1a8d23b7ab2d.ngrok-free.app